<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 id="1">this is an alert message click the submit button to see the content</h1>
<h1 id="2">hello world</h1>
<h1 id="3">welcome</h1>

<button type="button" onclick='getElementById("1").innerHTML="this is confidential please contact us sign in sign out",getElementById("2").innerHTML="sign in",getElementById("3").innerHTML="sign out"'>submit</button>
</body>
</html>